<div class="carousel-slide">
  <button
    class="carousel-control-button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 24 24"
    >
      <path
        d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"
      ></path>
    </svg>

    <span class="off-screen">Anterior</span>
  </button>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="../../../assets/game-details-example-640x400.jpg" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 24 24"
    >
      <path
        d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"
      ></path>
    </svg>
    <span class="off-screen">Próximo</span>
  </button>
</div>
