<section class="carousel-slide">
  <button
    class="carousel-control-button -left"
    aria-label="Botão para voltar slide"
    (click)="previousSlide()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      role="img"
    >
      <path
        d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"
      ></path>
    </svg>
    <span class="off-screen">Voltar ao slide anterior</span>
  </button>
  <ul class="carousel-inner" aria-live="polite">
    <li class="carousel-item">
      @if(images.length === 0 ) {
      <mat-spinner
        class="game-info-spinner"
        aria-label="Carregando slides"
      ></mat-spinner
      >} @else {
      <img [src]="images[currentIndex]" alt="Imagem do slide atual" />
      }
    </li>
  </ul>
  <button
    class="carousel-control-button -right"
    aria-label="Botão para avançar slide"
    (click)="nextSlide()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      role="img"
    >
      <path
        d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"
      ></path>
    </svg>
    <span class="off-screen">Avançar para o próximo slide</span>
  </button>
</section>
