<div class="container">
  <section>
    <h2>Populares</h2>
    @if(popularGames.length === 0) {
    <mat-spinner
      aria-label="Carregando jogos populares"
      class="main-spinner"
    ></mat-spinner>
    } @else {
    <app-game-list-carousel
      [gameList]="popularGames"
      (selectGameEmmiter)="onSelectGame($event)"
    ></app-game-list-carousel>
    }
  </section>
  <section>
    <h2>Novos lançamentos e tendências</h2>
    @if(newReleasedGames.length === 0) {
    <mat-spinner
      aria-label="Carregando jogos em tendências e novos lançamentos"
      class="main-spinner"
      diameter="120"
    ></mat-spinner>
    } @else {
    <app-game-list-carousel
      [gameList]="newReleasedGames"
      (selectGameEmmiter)="onSelectGame($event)"
    ></app-game-list-carousel>
    }
  </section>
</div>
