@import "../../../../styles.scss";
@import "../../../../styles/utils/illuminated-text-shadow";

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  & section {
    position: relative;

    & h2 {
      font-weight: medium;
      text-shadow: $illuminated-text-shadow;
      font-size: 28px;
      border-bottom: 1.8px solid $contrast-color;
      margin-top: 80px;
      padding-left: 60px;
    }

    & .main-spinner {
      margin: 5px auto;
    }
  }
}
