<main>
  <!-- Seção de apresentação do jogo -->
  <section class="game-apresentation-section">
    <figure
      class="game-art-background"
      [appBackgroundImage]="game.background_image"
      role="img"
    ></figure>
    <div class="wrapper-title-description">
      <h1>{{ game.name }}</h1>
      @if (!loading) {
      <p>
        {{ game.description_raw | truncateGameDescription }}
      </p>
      <app-button-add-to-favorite
        (click)="onToggleFavoriteGame()"
        class="fav-button"
      ></app-button-add-to-favorite>
      } @else {
      <mat-spinner
        class="game-apresentation-spinner"
        aria-label="Carregando informações de apresentação sobre o jogo"
      ></mat-spinner>
      }
    </div>
    <app-carousel [images]="imagesToCarousel"></app-carousel>
  </section>
  <!-- Seção de informações do jogo -->
  <app-game-infos [game]="game"></app-game-infos>
</main>
