<div>
  <section class="game-apresentation-section">
    <div
      class="game-art-background"
      appBackgroundImage="assets/game-details-example-640x400.jpg"
    ></div>
    <div class="wrapper-title-description">
      <h1>Final Fantasy VII</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi
        laudantium? Debitis molestiae neque provident delectus laborum dolorum
        laboriosam libero dicta fugit sunt nobis, nemo praesentium quaerat
        quibusdam dolorem? Inventore. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum quas illo voluptas explicabo tempore minus
        architecto dolore voluptate molestias, doloremque obcaecati pariatur
        ipsa nesciunt eos, excepturi voluptatibus odio eveniet accusamus.
      </p>
      <app-button-add-to-favorite size="large"></app-button-add-to-favorite>
    </div>
    <app-carousel></app-carousel>
  </section>
  <section class="game-info-section">
    <article class="article-meta-game-info">
      <div class="wrapper-meta-game-info-items">
        <div class="meta-game-info-item">
          <span>Disponível em</span>
          <div class="container-platforms-icons">
            <app-game-platforms></app-game-platforms>
          </div>
        </div>
        <div class="meta-game-info-item">
          <span>Genero</span>
          <p>Ação, Aventura, Um Jogador</p>
        </div>
        <div class="meta-game-info-item">
          <span>Data de lançamento</span>
          <p>10/08/2006</p>
        </div>
        <div class="meta-game-info-item">
          <span>Desenvolvedor</span>
          <p>Game Studios</p>
        </div>
        <div class="meta-game-info-item">
          <span>Produtora</span>
          <p>Game Studios</p>
        </div>
        <div class="meta-game-info-item">
          <span>Classificação etária</span>
          <p>12+</p>
        </div>
      </div>
      <div class="container-game-requirements-pc">
        <h2>Requisitos do sistema para PC</h2>
        <div class="wrapper-requirements-pc">
          <strong class="strong-text">Mínimo:</strong>
          <ul>
            <li>Sistema operacional: Windowns 10 64 bit</li>
            <li>
              Processador: Intel Core i5-6600, 3.3 GHz or AMD Ryzen 5 1500X, 3.5
              GHz
            </li>
            <li>Memória: 12 GB RAM</li>
            <li>
              Placa de vídeo: NVIDIA GeForce GTX 750 Ti, 2 GB or AMD Radeon R7
              360, 2 GB
            </li>
            <li>DirectX: Versão 11</li>
            <li>Armazenamento: 7 GB de espaço disponível</li>
          </ul>
        </div>
        <div class="wrapper-requirements-pc">
          <strong>Recomendado:</strong>
          <ul>
            <li>Sistema operacional: Windowns 10 64 bit</li>
            <li>
              Processador: Intel Core i5-6600, 3.3 GHz or AMD Ryzen 5 1500X, 3.5
              GHz
            </li>
            <li>Memória: 12 GB RAM</li>
            <li>
              Placa de vídeo: NVIDIA GeForce GTX 750 Ti, 2 GB or AMD Radeon R7
              360, 2 GB
            </li>
            <li>DirectX: Versão 11</li>
            <li>Armazenamento: 7 GB de espaço disponível</li>
          </ul>
        </div>
      </div>
    </article>
    <section class="game-purchase-info-section">
      <ul class="game-purchase-info-list">
        <li>
          <div class="container-store-list">
            <h3>Onde adquirir</h3>
            <ul class="store-list">
              <li class="styled-hover-text">
                <a href="https://www.google.com.br" target="_blank">Steam</a>
              </li>
              <li class="styled-hover-text">
                <a href="" target="_blank">GOG</a>
              </li>
              <li class="styled-hover-text">
                <a href="" target="_blank">Play Store</a>
              </li>
              <li class="styled-hover-text">
                <a href="" target="_blank">Playstation Store</a>
              </li>
              <li class="styled-hover-text">
                <a href="" target="_blank">Xbox Store</a>
              </li>
            </ul>
          </div>
        </li>
        <li>Metacritic: <span>9.5</span></li>
        <li>Métrica em geral: <span>8.2</span></li>
        <li>
          Site do jogo: <a class="styled-hover-text">www.gameon.com.br</a>
        </li>
      </ul>
    </section>
  </section>
</div>
