<div>
  <section class="game-apresentation-section">
    <div
      class="game-art-background"
      [appBackgroundImage]="game.background_image"
    ></div>
    <div class="wrapper-title-description">
      <h1>{{ game.name }}</h1>
      @if (!loading) {
      <p>
        {{ game.description_raw | truncateGameDescription }}
      </p>
      <app-button-add-to-favorite
        size="large"
        (click)="onToggleFavoriteGame()"
        class="fav-button"
      ></app-button-add-to-favorite>
      } @else {
      <mat-spinner class="game-apresentation-spinner"></mat-spinner>
      }
    </div>
    <app-carousel [images]="imagesToCarousel"></app-carousel>
  </section>
  <app-game-infos [game]="game"></app-game-infos>
</div>
