@import "../../../styles.scss";
@import "../../../styles/utils/illuminated-text-shadow";
@import "../../../styles/utils/illuminated-box-shadow";
@import "../../../styles/utils/styled-hover-text";

.game-apresentation-section {
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 100%;
  padding: 120px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & .game-art-background {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    z-index: -1;
  }

  & .wrapper-title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 100%;

    & p {
      text-align: left;
      margin-top: 15px;
    }

    & .button-add-to-favorite {
      margin-top: auto;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      border: 2px solid $contrast-color;
      background-color: $secondary-color;
      padding: 8px 12px;
    }
    & .button-add-to-favorite:hover {
      box-shadow: $illuminated-box-shadow;
      cursor: pointer;
      transform: scale(1.01);
    }
  }
}

.game-info-section {
  width: 100%;
  height: 900px;
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;

  & .article-meta-game-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 50px;

    & .wrapper-meta-game-info-items {
      padding: 10px 0;
      max-width: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 70px;
      row-gap: 30px;
      color: $purple-color;

      & .meta-game-info-item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & span {
          color: $contrast-color;
          text-shadow: $illuminated-text-shadow;
          font-weight: bold;
        }
        & p {
          color: $contrast-color;
          font-weight: regular;
        }
      }
    }

    & .container-game-requirements-pc {
      & h2 {
        text-shadow: $illuminated-text-shadow;
      }

      & .wrapper-requirements-pc {
        margin-top: 15px;
        & ul {
          padding-left: 50px;

          & li {
            list-style: square;
          }
        }
      }
    }
  }

  & .game-purchase-info-section {
    width: 30%;
    & .game-purchase-info-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & > li {
        text-shadow: $illuminated-text-shadow;
        font-weight: bold;

        & a {
          text-shadow: none;
          font-size: 18px;
          border-bottom: 2px solid $purple-color;
        }
      }

      & .container-store-list {
        & h3 {
          text-shadow: $illuminated-text-shadow;
        }
        & .store-list {
          margin-top: 5px;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;

          & li {
            font-weight: bold;
            border-bottom: 2px solid $purple-color;
            color: #ffffff;
            padding: 2px 4px 0 4px;
          }

          & li:hover {
            transform: scale(1.1);
          }
          & li:hover a {
            color: $purple-color;
          }
        }
      }
    }
  }
}
