<section class="categories-section">
  <div class="container-categories">
    <h2>Categorias</h2>
    <div class="container-category-cards">
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
    </div>
  </div>
</section>
