@media screen and (max-width: 700px) {
  .container {
    padding: 40px 25px;

    & .container-game-cards {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 30px 20px;

    & .title {
      font-size: 18px;
    }

    & .container-game-cards {
      margin-top: 15px;
      gap: 15px;
    }
  }
}
