@import "../../../../styles/utils/illuminated-text-shadow";

.container {
  min-height: 800px;
  padding: 40px;
  text-align: center;

  & .title {
    text-shadow: $illuminated-text-shadow;
  }

  & .container-game-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}
