@import "../../../../../styles.scss";

.container-carousel {
  width: 100%;
  min-height: 100px;
  margin: 20px auto 0 auto;
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  & .carousel-button {
    background-color: transparent;

    & .off-screen {
      position: absolute;
      left: -9999px;
    }

    & svg {
      stroke: $contrast-color;
      fill: transparent;
    }

    &:hover svg {
      cursor: pointer;
      transform: scale(1.1);
      fill: $purple-color;
    }
  }

  & .carousel-games {
    max-width: 1200px;
    position: relative;
    overflow: hidden;

    & .carousel-inner {
      position: relative;
      display: flex;
      gap: 30px;
      width: auto;
      transition: all 1s linear;

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        height: 100%;
        width: 20px;
        left: 0;
        background: linear-gradient(
          270deg,
          hsla(0, 0%, 100%, 0),
          $tertiary-color 28px 100%
        );
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        height: 100%;
        width: 20px;
        right: 0;
        background: linear-gradient(
          90deg,
          hsla(0, 0%, 100%, 0),
          $tertiary-color 28px 100%
        );
      }
    }
  }
}
