@import "../styles.scss";
@import "../styles/utils/illuminated-box-shadow";
@import "../styles/utils/styled-hover-text";

@media screen and (max-width: 1400px) {
  header {
    padding: 20px 30px 35px 30px;

    & .container-links {
      gap: 20px;
    }
  }

  .container-form {
    & form {
      & input {
        width: 180px;
        font-size: 16px;
      }
      & button {
        padding: 2px 15px;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    width: 90%;
    padding: 20px 15px 35px 15px;

    & .container-links {
      font-size: 20px;
    }
  }

  .logo {
    font-size: 23px;
  }

  header .container-form {
    & form {
      & .field-container {
        & input {
          width: 160px;

          &:valid ~ label,
          &:focus ~ label {
            font-size: 14px;
          }
        }
        & label {
          font-size: 14px;
        }
      }

      & button {
        width: 40px;
        height: 25px;

        & svg {
          height: 20px;
        }
      }
    }
  }

  footer {
    & li {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    width: 100%;
    padding: 20px 10px 35px 10px;
    & nav {
      justify-content: center;
      gap: 20px;
    }
  }
  .container-links {
    flex: 0;
    gap: 15px;
    font-size: 16px;
  }

  .logo {
    font-size: 18px;
  }

  .container-form {
    flex: 0;
    & form {
      & .field-container {
        & input {
          width: 100px;
          font-size: 16px;
        }
      }
      & button {
        width: 30px;
        height: 20px;

        & svg {
          width: 20px;
          height: 12px;
        }
      }
    }
  }

  footer {
    & h2 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    width: auto;
    border-radius: 0;
    left: 0;
    transform: translateX(-100%);

    & nav {
      padding: 20px 0 10px 0;
      flex-direction: column;
      align-items: center;

      & .mobile-menu-toggle {
        left: 100%;
        display: block;
        align-self: flex-start;
      }
    }
    .container-links {
      order: 2;
    }

    & .logo {
      order: 1;
    }
    & .container-form {
      order: 3;
    }
  }

  header.mobile-menu-open {
    transform: translateX(0%);

    & nav {
      & .mobile-menu-toggle {
        left: 0;
      }
    }
  }

  footer {
    padding: 10px 15px;
    & h2 {
      font-size: 16px;
    }

    & li {
      font-size: 12px;
    }

    & .footer-info-list {
      flex-wrap: wrap;
    }
  }
}
