<header>
  <nav>
    <div class="container-links">
      <a class="styled-hover-text" routerLink="/categories">Categorias</a>
      <a class="styled-hover-text" routerLink="/favorites">Favoritos</a>
    </div>

    <a routerLink="/" class="logo styled-hover-text">LOGO</a>

    <form action="">
      <div class="field-container">
        <input
          type="text"
          name=""
          id="search-input"
          required=""
          placeholder="Ex: Mario"
        />
        <label for="search-input">Buscar nome:</label>
      </div>

      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: rgb(34, 52, 114)"
        >
          <path
            d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A.998.998 0 0 0 5 3v18a1 1 0 0 0 .536.886zM7 4.909 17.243 12 7 19.091V4.909z"
          ></path>
        </svg>
      </button>
    </form>
  </nav>
</header>
<router-outlet></router-outlet>
