<div class="banner">
  <img
    src="../../../assets/banner-2000.png"
    alt=""
    alt="Imagem de apresentação do site com logo escrito Biblioteca de Jogos"
  />
</div>

<main>
  <section>
    <h2>Novos lançamentos</h2>
    <ul class="container-games">
      <app-game-card [gameOverview]="game"></app-game-card>
      <app-game-card [gameOverview]="game"></app-game-card>
      <app-game-card [gameOverview]="game"></app-game-card>
      <app-game-card [gameOverview]="game"></app-game-card>
    </ul>
  </section>
  <section>
    <h2>Populares</h2>
    <ul class="container-games">
      <app-game-card [gameOverview]="game"></app-game-card>
      <app-game-card [gameOverview]="game"></app-game-card>
      <app-game-card [gameOverview]="game"></app-game-card>
      <app-game-card [gameOverview]="game"></app-game-card>
    </ul>
  </section>
</main>
