@import "../../../styles.scss";
@import "../../../styles/utils/illuminated-text-shadow";

.banner {
  border-bottom: 2px solid #fff;

  & img {
    width: 100%;
  }
}

main {
  margin: 180px 40px;
  display: flex;
  flex-direction: column;
  gap: 160px;

  & h2 {
    font-weight: medium;
    text-shadow: $illuminated-text-shadow;
    font-size: 28px;
    border-bottom: 1.8px solid $contrast-color;
    padding-left: 60px;
  }

  & .container-games {
    margin-top: 20px;
    display: flex;
    gap: 40px;
  }

  & .main-spinner {
    margin: 40px auto 0 auto;
  }
}
