<li class="container-game-card">
  <figure
    class="container-game-card-figure"
    (click)="navigateToGameDetailsPage()"
  >
    <img class="game-image" src="../../../assets/exemple-game.png" alt="" />
    <figcaption class="container-figcaption">
      <p class="game-image-title">Final Fantasy VII</p>
      <p>Metacritic: <strong>9.8</strong></p>
    </figcaption>
    <button class="button-favorite" aria-label="Adicionar aos favoritos">
      <app-favorite-icon></app-favorite-icon>
    </button>
  </figure>
  <h3 class="game-title">Final Fantasy VII</h3>
</li>
