@import "../../../styles/utils/illuminated-box-shadow";

.container-game-card {
  overflow: hidden;
  height: auto;
  width: 230px;
  position: relative;

  & .game-title {
    margin-top: 5px;
    font-size: 18px;
    white-space: nowrap;
  }

  & .button-favorite {
    position: absolute;
    bottom: 35px;
    left: 20px;
    z-index: 3;
    display: none;
  }
  &:hover .button-favorite {
    display: block;
    z-index: 3;
  }
}

.container-game-card-figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  background-color: #fff;

  &:hover {
    cursor: pointer;
    border: 5px solid #fff;
    box-shadow: $illuminated-box-shadow;
  }

  &:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.5;
  }

  &:hover:after {
    z-index: 2;
  }

  & .game-image {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: auto;
  }

  & .container-figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: all ease-in 0.5s;
    bottom: 0;
    transform: translateY(100%);
    padding: 0 4px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &:hover .container-figcaption {
    bottom: 50%;
    transform: translateY(0);
  }

  & .container-figcaption p {
    font-weight: bold;
    font-size: 16px;
  }
}
