<div class="container-game-card">
  <figure
    class="container-game-card-figure"
    role="button"
    tabindex="0"
    (click)="onSelectGame()"
  >
    <img
      class="game-image"
      [src]="game.background_image"
      alt="Ilustração do jogo"
    />
    <figcaption class="container-figcaption">
      <p class="game-image-title">{{ game.name }}</p>
      <p>
        Metacritic: <strong>{{ game.metacritic }}</strong>
      </p>
    </figcaption>
  </figure>
  <h3 class="game-title">{{ game.name }}</h3>
</div>
