<li class="container-game-card">
  <figure
    class="container-game-card-figure"
  >
    <img class="game-image" src="../../../assets/exemple-game.png" alt="" />
    <figcaption class="container-figcaption">
      <p class="game-image-title">{{ gameOverview.name }}</p>
      <p>
        Metacritic: <strong>{{ gameOverview.metacritic }}</strong>
      </p>
    </figcaption>

    <app-button-add-to-favorite
      class="button-favorite"
      size="small"
    ></app-button-add-to-favorite>
  </figure>
  <h3 class="game-title">{{ gameOverview.name }}</h3>
</li>
