<section class="genres-section">
  <div class="container-genres">
    <h2>Gêneros</h2>
    <div class="container-genre-cards">
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
      <app-genre-card></app-genre-card>
    </div>
  </div>
</section>
